<h1>Result</h1>

<% if @word_letters.all? { |l| @letters.split.include?(l) } %>
  <% if @valide %>
    <p>Congrats, it's a valid word !</p>
  <% else %>
    <p>Oops, this word doesn't exist</p>
  <% end %>
<% else %>
  <p>The word does not match the avaible letters</p>
<% end %>


<%= link_to "Play Again", new_path %>
